body{
    background-color: #F3F5B9;
}

div{
    background-color:white;
    padding:10px;
    margin:10px;
    width:50%;
 }

 .firstdiv{
    border:0.5px solid;
 }

 .thirddiv{
    border:dotted red;
 }

 .thirdp{
    border:3px dotted red;
    color:red;
 }

 #thirdhead{
     color: red;
 }

 .firstword{
    background-color:#F5B041;
 }

 .secondword{
    background-color:#F0F933;
 }